<nav class="navbarstyle navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top navbarclass"style="padding-top: 88px ;height: 100px"  >
    <div class="container-fluid">
        <div class="row " >
            <div class="col-4">
                <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
                    <span >Toggle navigation</span>
                </button>
            </div>
            <div class="col-8 collapse navbar-collapse justify-content-center" id="navigation">
                 <div class="justify-content-center ml-2">
                      <h1 id = "title">Cours d'informatique</h1>
                      <h2 id = "title2">CRMEF MARRAKECH SAFI CENTRE RÉGIONAL
                                     DES MÉTIERS D'EDUCATION ET DE FORMATION
                      </h2>
                 </div>

            </div>

        </div>
    </div>
</nav>

