
<div class="main-content">
    <div class="container-fluid" >
        <div class="row">

            <div class="col-12 card " style="margin-left: 10px;margin-right: 10%">
                <h1 class="card-title" style="font-weight: bold ; letter-spacing: 1.2px">
                    {{datapk.title}}
                </h1>
                <p class="card-text text-info text-white font-weight-bold " style="letter-spacing: 1.2px ;
                font-size: 18px">
                    {{datapk.description}}
                </p>
                <div class="col-8">
                    <div col-6 *ngFor="let d of datapk.filesNews">
                        <a [href]="d.files">
                            <button style="font-size: 24px ; letter-spacing: 1.4px ;font-weight: bold" class="btn btn-block btn-success mt-5 ">telecharger</button>
                        </a>
                    </div>
                </div>
            </div>






            <!--<div class="col-12" *ngFor="let d of datapk.filesNews">

                <a [href]="d.files">{{d.files}}</a>
            </div>-->
        </div>
    </div>
</div>
