<div>
<div class="main-content">
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../assets/videos/video.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">dicton de la semaine</h1>
                    <p class="lead mb-0"> « La première règle de la réussite, ne jamais remettre au lendemain l’exécution d’un travail. »</p>
                </div>
            </div>
        </div>
    </header>
    <div *ngIf="categories != null" class="container-fluid">
      <div class="row">
          <div *ngFor="let new of news" class="col-lg-10 col-md-12 col-sm-12">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon " >
                      <div class="row">
                          <div class="col-2 card-icon" style="padding: 2px!important;">
                              <img [src]="new.image" style="background-size: cover;width: 100%;height: 100px">
                          </div>
                          <div class="col-8">
                              <p style="height: 78px;margin-top: 8px ;font-size: 18px" class="card-title">{{new.title}}</p>
                          </div>
                      </div>
                      <div class="row justify-content-end">
                          <h3 class="mr-3 text-muted" style="font-size: 16px" >{{new.date_creation}}</h3>
                      </div>

                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-info">ads_click</i>
                          <a class="text" [routerLink]="['/newsDetails',new]">click ici pour details</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>

</div>


</div>

<!--<app-footer></app-footer>-->


