
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <!--<div *ngFor="let d of dataquizzes">
                    <h1>{{d.description}}</h1>
                    <h1>{{d.name}}</h1>
                </div>-->
                <div class="container mt-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-10 col-lg-10">
                            <div class="border">
                                <div class="question bg-white p-3 border-bottom">
                                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                        <h4 style="font-size: 22px">Quiz</h4><span class="mr-5" style="font-size: 22px" *ngIf="question != null">{{question.length}} question</span>
                                    </div>
                                </div>
                                <div class="question bg-white p-3 border-bottom" *ngFor="let dq of question| paginate : {itemsPerPage:2,currentPage:p};">
                                    <div class="d-flex flex-row align-items-center question-title" >
                                        <h3 class="text-danger">Q.</h3>
                                        <h5 class="mt-1 ml-2">{{dq.label}}</h5>
                                    </div>
                                    <div class="ans ml-2" *ngFor="let re of dq.answer_set">
                                        <label class="radio" > <input type="radio"><span [ngStyle]="{ backgroundColor  : (voirreponce && dq.quiz == n) ?re.is_correct ?  '#5cb85c' : 'red': '' }">{{re.label}}</span>
                                        </label>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                                        <button style="width: 200px" class="btn btn-primary border-success align-items-center btn-success" type="button" (click)="repense(dq.quiz)">réponse<i class="fa fa-eye ml-2"></i></button>
                                        <p class="text-info card"></p>
                                    </div>
                                </div>


                                <pagination-controls class="pagination" (pageChange)="p = $event" ></pagination-controls></div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
